{% extends 'base.html' %}
{% from '_form_helpers.html' import render_checkbox, render_field, render_select, render_textarea %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}
<h1 class="h3 mb-4">{{ titulo }}</h1>
<form method="post" novalidate>
  {{ form.hidden_tag() }}
  {% for field in form if field.type != 'CSRFTokenField' and field.name != 'submit' %}
    {% if field.type in ['SelectField', 'SelectMultipleField'] %}
      {{ render_select(field) }}
    {% elif field.type == 'TextAreaField' %}
      {{ render_textarea(field) }}
    {% elif field.type == 'BooleanField' %}
      {{ render_checkbox(field) }}
    {% else %}
      {{ render_field(field) }}
    {% endif %}
  {% endfor %}
  <div class="d-flex gap-2">
    {{ form.submit(class='btn btn-primary') }}
    <a class="btn btn-outline-secondary" href="{{ url_for('ubicaciones.listar') }}">Cancelar</a>
  </div>
</form>
{% endblock %}
