{% extends 'base.html' %}
{% block title %}Solicitar licencia{% endblock %}
{% block content %}
<h1 class="mb-4">Solicitar licencia</h1>
<form method="post" class="row g-3">
  {{ form.hidden_tag() }}
  <div class="col-md-6">
    {{ form.empleado.label(class="form-label") }}
    {{ form.empleado(class="form-control") }}
  </div>
  <div class="col-md-6">
    {{ form.reemplazo_id.label(class="form-label") }}
    {{ form.reemplazo_id(class="form-control") }}
  </div>
  <div class="col-md-6">
    {{ form.fecha_inicio.label(class="form-label") }}
    {{ form.fecha_inicio(class="form-control") }}
  </div>
  <div class="col-md-6">
    {{ form.fecha_fin.label(class="form-label") }}
    {{ form.fecha_fin(class="form-control") }}
  </div>
  <div class="col-12">
    {{ form.motivo.label(class="form-label") }}
    {{ form.motivo(class="form-control") }}
  </div>
  <div class="col-12">
    <div class="form-check">
      {{ form.requiere_reemplazo(class="form-check-input") }}
      {{ form.requiere_reemplazo.label(class="form-check-label") }}
    </div>
  </div>
  <div class="col-12">
    {{ form.submit(class="btn btn-primary") }}
  </div>
</form>
{% endblock %}
